@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
}

h1 {
  font-weight: bold;
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
}

h2 {
  font-weight: bold;
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
}

h3 {
  font-weight: bold;
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
}

h4 {
  font-weight: bold;
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}

h5 {
  font-weight: bold;
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
}

h6 {
  font-weight: bold;
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

p {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

span {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}
