@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
  display: flex;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 2rem;
}

h2 {
  font-weight: bold;
  font-size: large;
  margin-bottom: 1rem;
}
